.recomended {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.card-recomended {
  display: flex;
  flex-direction: column;

}

.button-details {
  bottom: 0;
  font-size: 20px;
  position: fixed;

}

.card-category {
  margin-bottom: -10px;
}

.card-name {
  font-size: 25px;
}
